################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/src/Hong.Algorithms/bin
/src/Hong.Cache/bin
/src/Hong.Common/bin
/src/Hong.Config/bin/Debug
/src/Hong.DAO/bin
/src/Hong.Model/bin
/src/Hong.Model/obj
/src/Hong.MQ/bin
/src/Hong.MQ/obj
/src/Hong.DAO/obj
/src/Hong.Config/obj
/src/Hong.Cache/obj
/src/Hong.Common/obj
/src/Hong.Algorithms/obj
/src/Hong.Mvc/bin
/src/Hong.Mvc/obj
/src/Hong.NodeService/bin/Debug
/src/Hong.NodeService/obj
/src/Hong.Repository/bin
/src/Hong.Repository/obj
/src/Hong.Service/obj
/src/Hong.Service/bin
/src/Hong.WebSocket/obj
/src/Hong.WebSocket/bin
/src/WEB_NETCORE/obj
/src/WEB_NETCORE/bin
/test/Hong.Base.API/obj
/test/Hong.Base.API/bin
/test/Hong.Base.Test/bin
/test/Hong.Base.Test/obj
/test/Hong.Base.Web/obj
/test/Hong.Base.Web/bin
/test/Hong.MQ.Test/obj
